

.wrapper {
width: 900px;
margin: 0 auto;
}

.columnVaries{
	float: right;
	display: block;
}


.slidesUp{
	width: 100px;
}

.prompt{
	font-size: 50px;
	text-align: left;
	background-color: gray;	
	padding: 45px;
	text-align: center;
}

.penguinReturn{
	width: 850px;
	height: 100px;

}